fastapi[standart]
mysql_connector_repackaged==0.3.1
passlib==1.7.4
protobuf==5.29.0
pydantic==2.10.2
PyJWT==2.9.0
python-dotenv==1.0.1
python_jose==3.3.0
SQLAlchemy
uvicorn==0.32.1
google-cloud-secret-manager 
cloud-sql-python-connector[pymysql]
mysql-connector-python
bcrypt